.Profile {
    background-color: #f0f2f5;
    min-height: calc(100vh - 64px);

    .ant-pagination-item {
        display: none;
    }

    .leaderboard-side {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: '1200px') {
    .Profile {
        .leaderboard-side {
            margin-bottom: 0;
            margin-left: 10px;
            margin-top: 1.6rem;
        }
    }
}
