.quiz-container--subcontainer {
    background-color: #0062be;
    padding: 4rem 3rem;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba($color: #000000, $alpha: 0.5);
    min-height: 70vh;
    display: flex;
    flex-direction: column;

    .countBox {
        color: #fff;
        font-size: 18px;
        font-family: "Bangers", cursive;
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .question {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }

    .option {
        margin-bottom: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        display: block;
        width: 100%;
    }

    .ant-radio-group {
        flex: auto;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;

        &--button:not(:last-child) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
