.Navbar {
    width: 100%;
    background-color: #006ce7;
    color: #fff;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;

    &-item:hover {
        color: #c0c0c0 !important;
    }
    &-item:focus {
        color: #c0c0c0 !important;
    }
    &-item:active {
        color: #c0c0c0 !important;
    }
}
